<!DOCTYPE HTML>
	<html>
	<body>
	<head>
	</head>
	<h1>All Contacts</h1>




<ul>
  <% @@rolodex.contacts.each do |contact| %>
  <a href="/contacts/<%= contact.id %>">
    <li> <%=contact.first_name %> <%= contact.last_name %> (<%= contact.email %>) <%= contact.note %> ID: <%= contact.id %></li>
    </a>
  <% end %>
</ul>
</body>
</html>