<!DOCTYPE HTML>
	<html>
	<body>
	<head>
	</head>
	<h1>All Contacts</h1>



<div id="contacts_list">
<ul>
  <% @contacts.each do |contact| %>
  <a href="/contacts/<%= contact.id %>">
    <li> <b>Name:</b> <%=contact.first_name %> <%= contact.last_name %> <b>Email:</b> (<%= contact.email %>) <b>Note:</b> <%= contact.note %> <b>ID:</b> <%= contact.id %></li>
    </a>
  <% end %>
</ul>
</div>
</body>
</html>

